div {
	box-sizing: border-box;
}


.black-nav {
	display: flex;
	background: black;
	width: 100%;
	color: white;
	padding-left: 20px;
}

.list {
	padding-left: 20px;
	text-align: left;
	border-bottom: 1px solid grey;
}

.post-detail {
	margin-top: 20px;
	padding: 20px;
	background: #eee;
	text-align: left;
}